<!DOCTYPE html>
<html lang="en" xmlns:th="https.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Purchase</title>
</head>
<body>
<form method="post" name="recordPurchase">
    <div><label>Amount of purchase
    <input th:field="${purchase.amount}" th:name="amount" th:id="amount"/>
    </label></div>
    <div><label>Date of purchase
        <input th:field="${purchase.date}" type="date">
    </label></div>
    <button type="submit">Calculate Points!</button>
</form>
<!--<script src="/js.js" onsubmit="totalPoints(purchase.amount)"></script>-->
<p>Total Points Earned</p>
</body>
</html>